.parallax-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: rgba(4, 27, 43, 0.466); /* overlay efek */
}

.parallax-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.parallax-content p {
  font-size: 1.5rem;
}
